# _____                              _______________________________
# ____/ TELEMAC Project Definitions /______________________________/
#
[Configurations]
configs:    doxydocs
#
# _____                          ___________________________________
# ____/ Doxygen documentations  /__________________________________/
[doxydocs]
#
modules:    system -nestor
sfx_zip:    .zip
cmd_doxygen:    c:\opentelemac\bin\doxygen\bin\doxygen.exe
#
